#title {
    font-size: 500%;
    width: 60vmax;
  }

.center {
    margin: auto;
    padding: auto;
    text-align: center;
  }

#image {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items:center;
    gap: 2rem;
    
}

.about-img img {
    max-width: 700px;
    height: fit-content;
    width: 100%;
    border-radius: 5px;
    
    

}



.about-text h1 {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color);
  line-height: 1.7;
  margin: 15px 0 30px;
}


.about-text p {
  color: var(--second-color);
  font-size: var(--p-font);
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.8;
  margin-bottom: 4rem;
}
footer{
  background: #111;
  padding: 15px 23px;
  color: #fff;
  text-align: center;
}
footer span a{
  color: crimson;
  text-decoration: none;
}
footer span a:hover{
  text-decoration: underline;
}


 
 
  @media only screen and (min-width:480px)
  {

  }

  @media only screen and (min-width:767px)
  {

  }

  @media only screen and (min-width:991px)
  {

  }

  @media only screen and (min-width:1200px)
  {
 .font {
    padding: 0px 200px 15px 200px;
        }
  }

  @media(orientation: landscape)
  {

  }